<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean id="sqlite" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${db.driverClass}" />
        <property name="jdbcUrl" value="${db.jdbcUrl}" />
        <property name="maxPoolSize" value="${db.maxPoolSize}" />
        <property name="minPoolSize" value="${db.minPoolSize}" />
        <property name="maxStatements" value="${db.maxStatements}" />
        <property name="testConnectionOnCheckout" value="${db.testConnectionOnCheckout}" />
    </bean>

    <!-- SPRING TRANSACTION管理 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="sqlite" />
    </bean>
    <!-- 開啟對TRANSACTION註解功能 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="sqlite" />
        <!-- 指定MYBATIS設定檔當作全局配置-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- 指定MAPPING XML檔案位置 -->
        <property name="mapperLocations" value="classpath:job/admin/mapping/*.xml"/>
    </bean>

    <!-- 掃描MAPPER對應的介面讓SPRING能夠@Autowired -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="job.admin.dao" />
    </bean>
</beans>