<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="job.admin.controller">
        <context:include-filter type="assignable" expression="job.admin.service.GoldService"></context:include-filter>
        <context:include-filter type="assignable" expression="job.admin.service.RateService"></context:include-filter>
        <context:include-filter type="assignable" expression="job.admin.service.TenlongService"></context:include-filter>
        <context:include-filter type="assignable" expression="job.admin.service.ComicsService"></context:include-filter>
        <context:include-filter type="assignable" expression="job.admin.service.VieshowService"></context:include-filter>
    </context:component-scan>

    <mvc:annotation-driven/>
    <!-- 正確處理靜態資源 -->
    <mvc:default-servlet-handler/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 外部設定檔 -->
    <context:property-placeholder location="classpath:config_zh_TW.properties"/>
</beans>